@import "./assets/scss/icons.scss";

// Light Theme
//@import "./assets/scss/bootstrap.scss";
//@import "./assets/scss/app.scss";

// Dark Theme
@import "./assets/scss/bootstrap-dark.scss";
@import "./assets/scss/app-dark.scss";

//RTL Mode
//@import "./assets/scss/bootstrap.scss";
//@import "./assets/scss/app-rtl.scss";

@import "./assets/scss/custom.scss";
